.container__login__field {
  min-width: 700px;
  width: 50%;
  height: 400px;
  box-shadow: 0px 0px 15px -3px rgb(10, 10, 10);
  background: var(--background-gradient-darkest);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
