.container__error_text {
  width: 200%;
  height: 400px;
}
.title__error_text {
  margin-top: var(--mg-top-min);
  font-size: 52px;
  background: var(--text-error-text-gradient);
  background-clip: text;
  color: transparent;
  background-size: 300% 300%;
  animation: animGradient 16s linear infinite;
}
.text__error_text {
  font-weight: 800;
}

@keyframes animGradient {
  0% {
    background-position: 0 50%;
  }
  25% {
    background-position: 50% 70%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 200% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}
