.container__info__diagnostic {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 10px 0;
  text-align: start;
  border-radius: 12px;
}
.diagnostic__title > h5 {
  font-size: 16px;
  color: white;
  color: var(--text-diagnostic-item) !important;
}
.diagnostic__title {
  width: 100%;
}
