.btn__back {
  height: 60px;
  width: 250px;
  margin: var(--mg-top-min) 0;
  border-radius: 12px;
  border: 0px solid black;
  background: var(--background--btn--back);
  cursor: pointer;
  font-size: 24px;
  font-weight: 300;
  box-shadow: 0px 0px 5px 0px rgba(114, 53, 92, 0.467);
  color: rgb(186, 186, 186);
  background-size: 300% 300%;
  animation: animGradient 8s linear infinite;
  transition: transform 0.2s ease-out;
  transition-property: all;
  transform-origin: center;
}
.btn__back:hover {
  transform: scale(1.1);
  color: rgb(233, 233, 233);
  background-size: 500% 500%;
  box-shadow: 0px 0px 12px 2px rgba(91, 72, 84, 0.467);
}
@keyframes animGradient {
  0% {
    background-position: 0 50%;
  }
  25% {
    background-position: 50% 70%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 200% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}
